<aside class="sidebar">
    
    <p>sidebar ni</p>

    <!--<div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    </div>-->

    <!--<div class="profile">
        <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Profile Image">
        <p class="name">MAVENCO</p>
        <p class="role">Admin</p>
    </div>-->

    <!--<nav class="menu">
        <ul>
            <li class="active"><a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='icons/home-svgrepo-com.svg') }}" alt="Dashboard Icon"> Dashboard</a></li>
            <li><a href="{{ url_for('members') }}"><img src="{{ url_for('static', filename='icons/group-svgrepo-com.svg') }}" alt="Members Icon"> Members</a></li>
            
        </ul>
    </nav>-->

    <!--<div class="logout">
        <a href="#">Logout <img src="{{ url_for('static', filename='icons/logout-svgrepo-com.svg') }}" alt="Logout Icon"></a>
    </div>-->

</aside>